{% block content %}
<div class="text-center">
    <h1>Busca un Libro</h1>
    <form method="POST" action="/searchBOOK">
        <input type="text" class="form-control mb-2" name="query" placeholder="Título o autor...">
        <select name="filter_category" class="form-select mb-3">
            <option value="Fiction">Ficción</option>
            <option value="Fantasy">Fantasía</option>
            <option value="Science">Ciencia</option>
            <option value="Biography">Biografía</option>
            <option value="History">Historia</option>
        </select>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>
<div class="mt-4">
    <h2>Libros Guardados</h2>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card mb-4">
                <a href="{{ url_for('routes.book_details', book_id=book.id) }}" target="_blank">
                    <img src="{{ book.image_url if book.image_url else '/static/no_image.png' }}" class="card-img-top"
                        alt="{{ book.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">Autor: {{ book.author }}</p>
                    <p class="card-text">Serie: {{ book.series if book.series else 'Sin serie' }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}